@{
    ViewData["Title"] = "About";
    var studentName = "Sofia Janik";
    var studentNumber = "101573681";
    var courseCode = "COMP2139-0001";
    var courseSection = "105";
}
<h1>@ViewData["Title"]</h1>
<div>
    <h1>Welcome to the About Page</h1>
    <p>Student Name: @studentName</p>
    <p>Student Number: @studentNumber</p>
    <p>Course Code: @courseCode</p>
    <p>Course Section: @courseSection</p>
</div>